.add-task {
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 150px;
    text-align: left;
}

.new-task-content {
    background-color: rgba(242, 243, 250, 0.788);
}

#standard-full-width {
    width: 410px;
}

.text-filed{
    width: 355px;
}

.Line{
    display: flex;
    justify-content: space-between;
}

.YRow{
    margin-right: 110px
}

#addButton {
    margin-top: 10%
}