.action-icon{
    height: 20px;
    width: 20px;
    float: right;    
    margin-left: 5px;
    margin-top: 8px;
}

.task {
    margin-top: 10px;
    position: relative;
    width: 380px;
    height: 70px;
    text-align: left;
    overflow-y: auto;
}

.tasks-collection{
    overflow-y: auto;
    overflow-x: hidden;
    height:58%;
}