.createdTask{
    text-align: left;
    margin-left: 20px
}

.complitedTask {
    text-align: right;
    margin-right: 20px
}

.tasks-info{
    display: flex;
    justify-content: space-between;
}

.tasks-about{
    display: flex;
    justify-content: space-between;
    color: gray
}

.tasks {
    text-align: center;
    margin-top: 5px;
    position: relative;
    left: 5px;
    width: 400px;
    height: 655px;
}

